@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.text {
  -fx-font-family: "Roboto", sans-serif;
  -font-weight: 500;
  -font-style: normal;
  -fx-text-fill: #ff0000;
}

.sideBarItem {
  -fx-font-size: 16px;
  -fx-font-weight : 700;
  -fx-background-color : none;
}

.sideBarItem:hover {
  -fx-background-color: #f7e4db !important;
  -fx-text-fill: #914d2a;
}

.sideBarItem:hover .graphic {
  -fx-fill: #914d2a;
}

.sideBarTitle {
  -fx-font-size: 16px !important;
}

.profile-setting-button {
    -fx-border-width: 0px 0px 2px;
    -fx-font-size: 16px;
}

.profile-setting-button-employee {
  -fx-text-fill: #F5A11C;
  -fx-border-color: #F5A11C;
}

 .profile-setting-button-admin {
   -fx-text-fill: #914d2a;
   -fx-border-color: #914d2a;
 }

.text-input {
  -fx-font-weight: 700;
}

.error-label {
  -fx-text-fill: #ff0000;
}

.label-bold {
  -fx-font-weight: 700;
  -fx-font-size: 14px;
}

.title-form {
  -fx-font-size: 24px;
  -fx-font-weight: 700;
}


.password-field-add {
  -fx-background-color: transparent;
  -fx-border-width: 1px 0px 1px 1px;
  -fx-border-color: black;
  -fx-border-radius: 5px 0px 0px 5px;
}

.input-field-add {
  -fx-background-color: transparent;
  -fx-border-width: 1px;
  -fx-border-color: black;
  -fx-border-radius: 5px;
}

.button-custom-admin {
  -fx-padding: 1px;
  -fx-font-weight: 700;
  -fx-font-size: 16px;
  -fx-text-fill: white;
    -fx-background-color: #914d2a;
}

.button-custom-admin:hover {
  -fx-background-color: #6A381E;
}

.button-custom-employee {
  -fx-padding: 1px;
  -fx-font-weight: 700;
  -fx-font-size: 16px;
  -fx-text-fill: white;
  -fx-background-color: #F5A11C;
}

.button-custom-employee:hover {
  -fx-background-color: #D68C19;
}

.button-eye {
  -fx-background-color: transparent;
  -fx-border-width: 1px 1px 1px 0px;
  -fx-border-color: black;
  -fx-border-radius: 0px 5px 5px 0px;
}

.anchor-pane {
  -fx-padding: 5px;
}

.text-menu-item {
  -fx-font-size: 16px;
  -fx-font-family: "Roboto", sans-serif !important;
  -fx-font-weight: 300 !important;
  -fx-font-style: italic !important;
}

.text-menu-button {
-fx-font-size: 16px;
}