@font-face {
  src: url("../fonts/RobotoBold.ttf");
}

@font-face {
  src: url("../fonts/RobotoBlack.ttf");
}

@font-face {
  src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
  src: url("../fonts/RobotoLight.ttf");
}

@font-face {
  src: url("../fonts/RobotoMedium.ttf");
}

@font-face {
  src: url("../fonts/RobotoThin.ttf");
}

.text {
  -fx-text-fill: #ff0000;
}

.sideBarItem {
  -fx-font-size: 16px;
  -fx-font-family: "Roboto Bold";
  -fx-background-color: none;
}

.sideBarItem:hover {
  -fx-background-color: #f7e4db !important;
  -fx-text-fill: #914d2a;
}

.sideBarItem:hover .graphic {
  -fx-fill: #914d2a;
}

.sideBarItemEmployee {
  -fx-font-size: 16px;
  -fx-font-family: "Roboto Bold";
  -fx-background-color: none;
}


.sideBarItemEmployee:hover {
  -fx-background-color: #F4E7D3 !important;
  -fx-text-fill: #F5A11C;
}

.sideBarItemEmployee:hover .graphic {
  -fx-fill: #F5A11C;
}


.sideBarTitle {
  -fx-font-size: 20px;
  -fx-font-family: "Roboto Black";
}

.profile-setting-button {
  -fx-font-family: "Roboto Bold";
  -fx-border-width: 0px 0px 2px 0px;
  -fx-font-size: 16px;
}

.profile-setting-button-employee {
  -fx-text-fill: #f5a11c;
  -fx-border-color: #f5a11c;
}

.profile-setting-button-admin {
  -fx-text-fill: #914d2a;
  -fx-border-color: #914d2a;
}

.error-label {
  -fx-text-fill: #ff0000;
}

.label-bold {
  -fx-font-size: 14px;
  -fx-font-family: "Roboto Bold";
}

.title-form {
  -fx-font-size: 24px;
  -fx-font-family: "Roboto Bold";
}

.password-field-add {
  -fx-background-color: transparent;
  -fx-border-width: 1px 0px 1px 1px;
  -fx-border-color: black;
  -fx-border-radius: 5px 0px 0px 5px;
}

.input-field-add {
  -fx-background-color: transparent;
  -fx-border-width: 1px;
  -fx-border-color: black;
  -fx-border-radius: 5px;
}
.input-field-add:disabled {
  -fx-opacity: 1  ;
}
.combo-box-popup .list-cell:disabled  {
    -fx-opacity: 0.4 ;
}
.input-field-add-normal-disable {
  -fx-background-color: transparent;
  -fx-border-width: 1px;
  -fx-border-color: black;
  -fx-border-radius: 5px;
}

.button-custom-admin {
  -fx-font-family: "Roboto Bold";
  -fx-padding: 1px;
  -fx-font-size: 16px;
  -fx-text-fill: white;
  -fx-background-color: #914d2a;
}

.button-custom-admin:hover {
  -fx-background-color: #6a381e;
}

.button-custom-employee {
  -fx-font-family: "Roboto Bold";
  -fx-padding: 1px;
  -fx-font-size: 16px;
  -fx-text-fill: white;
  -fx-background-color: #f5a11c;
}

.button-custom-employee:hover {
  -fx-background-color: #d68c19;
}

.button-eye {
  -fx-background-color: transparent;
  -fx-border-width: 1px 1px 1px 0px;
  -fx-border-color: black;
  -fx-border-radius: 0px 5px 5px 0px;
}

.anchor-pane {
  -fx-padding: 5px;
}

.text-menu {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 16px;
}

.text-menu:focused {
  -fx-background-color: #f7e4db;
  -fx-text-fill: #914d2a !important;
}

.text-menu-item-1 {
  -fx-font-family: "Roboto Black";
  -fx-font-size: 16px;
}

.text-menu-item-2 {
  -fx-font-family: "Roboto Thin";
  -fx-font-size: 16px;
}

.text-menu-item-3 {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 16px;
}

.text-menu-item-4 {
  -fx-font-family: "Roboto Regular";
  -fx-font-size: 16px;
}

.text-menu-item-5 {
  -fx-font-family: "Roboto Medium";
  -fx-font-size: 16px;
}

.text-menu-item-6 {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 16px;
}

.text-menu-button {
  -fx-font-size: 16px;
}
.enable-button {
  -fx-background-radius: 20px;
  -fx-background-color: #CDEACC;
  -fx-text-fill: #779879;
  -fx-border-radius: 20px;
  -fx-font-family: "Roboto Medium";
   -fx-font-size: 12px;
}

.disable-button{
  -fx-background-radius: 20px;
  -fx-background-color: #FEF5D6;
  -fx-text-fill: #C1AA3D;
  -fx-border-radius: 20px;
  -fx-font-family: "Roboto Medium";
  -fx-font-size: 12px;
}

.pagination-button-admin {
    -fx-background-color: transparent;
}

.selectSearch
{
    -fx-background-radius : 20px;
    -fx-background-color : #D5D8DC !important;
}

.chart-bar {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 0px;
    -fx-background-position: left center;
}

.chart-plot-background {
    -fx-background-color: red;
    -fx-pref-width: 700px;
    -fx-pref-height: 460px;
}

.chartActionButton {
  -fx-background-color: transparent;
  -fx-font-family: "Roboto Bold";
  -fx-border-width: 0px 0px 2px 0px;
  -fx-font-size: 14px;
}

.chartActionButton-admin-selected {
  -fx-text-fill: #914d2a;
  -fx-border-color: #914d2a;
}

.axis-label {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto Bold";
}

.chart-title {
    -fx-font-size: 24px;
    -fx-margin: 10px;
    -fx-font-family: "Roboto Bold";
}
.toggle-button {
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

.toggle-button:selected {
    -fx-background-color: #914D2A !important;
    -fx-border-color: #914D2A !important;
    -fx-background-image: url("../images/tick.png"); /* Replace "white_tick_icon.png" with the path to your tick icon */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 70% 70%; /* Adjust the size of the icon */
}


